# .streamlit/secrets.toml
# RENAME this file to "secrets.toml" and fill in your values.
# DO NOT commit the actual "secrets.toml" to GitHub!

AIRTABLE_API_KEY = "patXXXXXXXXXXXXXX"
AIRTABLE_BASE_ID = "appXXXXXXXXXXXXXX"
# AIRTABLE_TABLE_NAME and AIRTABLE_LOG_TABLE_NAME are hardcoded in app.py as "Leads_Scrapping" and "log"

APIFY_TOKEN = "apify_api_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
APOLLO_API_KEY = "api_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
